[submodule "sysbox-fs"]
	path = sysbox-fs
	url = https://github.com/nestybox/sysbox-fs.git
[submodule "sysbox-runc"]
	path = sysbox-runc
	url = https://github.com/nestybox/sysbox-runc.git
[submodule "sysbox-ipc"]
	path = sysbox-ipc
	url = https://github.com/nestybox/sysbox-ipc.git
[submodule "sysbox-mgr"]
	path = sysbox-mgr
	url = https://github.com/nestybox/sysbox-mgr.git
[submodule "sysbox-libs"]
	path = sysbox-libs
	url = https://github.com/nestybox/sysbox-libs.git
[submodule "sysbox-pkgr"]
	path = sysbox-pkgr
	url = https://github.com/nestybox/sysbox-pkgr.git
[submodule "sysbox-dockerfiles"]
	path = sysbox-dockerfiles
	url = https://github.com/nestybox/dockerfiles.git
